 <%= form_with model: @user do |f| %>
    <div>
      <%= f.label :email %>    
      <%= f.email_field :email, placeholder: 'E-mail' %>
    </div>
    
    <div>
      <%= f.label :name %>    
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>  

    <div>
    <%= f.label :password %>    
    <%= f.password_field :password %>
    </div>  

    <div>
    <%= f.label :password_confirmation %>    
    <%= f.password_field :password_confirmation %>
    </div>  
    <% unless @user.new_record? %>
    <div>
    <%= f.label :old_password %>    
    <%= f.password_field :old_password %>
    </div> 
   <% end %>
    <%= f.submit (@user.new_record? ? "Register!" : "Save") %>
<%end%>  
